* {
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -o-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -moz-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
}

.container-main{
    height: 100%;
    width: 100%;
}

.bg-gradient {
    background: -webkit-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -o-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -moz-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
 
    position: absolute;
    
    height: 100%;
    width: 100%;
}

.bg-waves {
    background: url(../assets/map_wave_outlines.svg) no-repeat center center scroll;
    background-size: cover;


    margin-top: -20%;
    margin-right: -20%;

    height: 140%;
    width: 140%;
    z-index: 0;
}

.bg-land {
    background: url(../assets/land_with_details_2000.png) no-repeat center center scroll;
    background-size: cover;

    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1
}

.content {
    width: 500px;
    height: 580px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.logo {
    width: 100%;
}

.logo object {
    width: 30px;
    height: 42px;
}

.logo h2 {
    font-family: GothamBlk;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: block;
}

.tag {
    font-family: 'BrandonBlack';
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

.date {
    font-family: 'BrandonBold';
    font-size: 20px;
    color: #727f84;
}

.content form {
    font-family: 'BrandonReg';
}


.info_text {
    font-size: 14px;
    color: #406072;
    margin-bottom: 5px;
}

.error_message {
    font-family: BrandonReg;
    color: #ef4238;
}

.content form input {
    background-color: rgba(23, 54, 86, .5);
    font-family: 'BrandonReg';
    color: #fff;
    border: none;
    border-radius: 4px;
    padding-left: 14px;

/*
    transition:.1s linear;
    -webkit-transition:.1s linear;
    -moz-transition:.1s linear;
*/
}

.content form input:focus {
    outline: none;
    box-shadow: 0px 0px 7px #fff;
    border-color: #fff;
}

.content form .error:focus, .error {
    box-shadow: 0px 0px 7px #EF4136;
    border-color: #EF4136;
}

.content form button {
    background-color: rgba(0, 113, 188, .85);
    color: #fff;
    font-family: 'BrandonReg';

    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
}

/**/
#thank_you {
    display: none;
    margin-top: 55px;
    color: #353B3F;
    font-size: 20px;
    font-family: BrandonReg;
}

#thank_you h3 {
    color: #0071bc;
    height: 60px;
    font-size: 40px;
    font-family: Pacifico;
}

/* Misc stying classes */

/*
.clear:after {
    content: "";
    display: table;
    clear: both;
}

.upper {
    text-transform: uppercase;
}
*/

/*Explain This*/
::-webkit-input-placeholder { color:#b3b3b3; }
::-moz-placeholder { color:#b3b3b3; } /* firefox 19+ */
/*:-ms-input-placeholder { color:#b3b3b3; } /* ie */
/*input:-moz-placeholder { color:#b3b3b3; }*/
/*
.resize-kb {
    position: absolute;
    bottom: 10px;
}*/



/*
#waves-container {
    position: absolute;
    height: 120%;
    width: 120%;
    
    left: -10%;
    top: -10%;

    z-index: -1;
}

#waves {
    width: auto;
    height: 120%;
}

#scene li object {
    width: auto;
    height: 120%;
}
*/