body {
    background: -webkit-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -o-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -moz-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
}

.content span {
    display: block;
}

.logo h2 {
    font-family: GothamBlk;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: block;
}

.woah {
    font-family: BrandonBlack;
    font-size: 46px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 80px;
}

.woah + span {
    font-family: BrandonBold;
    font-size: 30px;
    color: #727F84;
    margin-bottom: 36px;
}

.content a {
    font-family: BrandonReg;
    text-decoration: none;
    font-size: 18px;
    color: #1071b9;
}

.content a:hover {
    border-bottom: 2px dashed #1071b9;
}

.content a + a {
    margin-left: 50px;
}
