body {
    background: -webkit-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -o-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: -moz-linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
    background: linear-gradient(140deg, #8287b2, #b5d6de, #5a8ec5) center no-repeat;
}

#content-container {
    background: url(../assets/arrows.png) no-repeat center center fixed;
    height: 100%;
}

#e404-content {
    width: 730px;
    height: 620px;
    text-align: center;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

#e404-content span {
    display: block;
}

.woah {
    font-family: BrandonBlack;
    font-size: 56px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 120px;
}

.woah + span {
    font-family: BrandonBold;
    font-size: 36px;
    color: #727F84;
    margin-bottom: 54px;
}

#e404-content a {
    font-family: BrandonReg;
    text-decoration: none;
    font-size: 20px;
    color: #1071b9;
}

#e404-content a:hover {
    border-bottom: 2px dashed #1071b9;
}

#e404-content a + a {
    margin-left: 130px;
}

#boat {
    width: 55px;
    height: 160px;
    position: absolute;
}
