.bg-gradient {
    background: url(../assets/map_gradient_bg.svg) no-repeat center center fixed;
    background-size: cover;
}

#waves-container { display: none; }

.tag {
    color: red;
}

.content {
    width: auto;
    height: auto;
}

.content object {
    position: relative;
}

.content form input {
    height: 42px;
    font-size: 27px;
}

.content form button {
    height: 42px;
    font-size: 29px;
}
