/* Desktop Styling */
@media (min-width:500px){
.content {

    height: 100%;
    width: 100%;
    }
}

@media (max-width: 430px){
    .tag {
        font-size: 24px;
    }
}

.content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    text-align: center;
}

.tag {
    margin-top: 80px;
}

.content {
}

.content form { 
    margin-top: 65px;
}

.content form input {
    font-size: 16px;
    
    width: 350px;
    height: 35px;   
    margin-bottom: 4px;
}

.content form button {    
    font-size: 16px;
    margin-left: 4px;
    height: 35px;

    cursor: pointer;
    cursor: hand;
}

.content form button:hover {
    background-color: rgba(0, 113, 188, 0);
    border: 2px dashed rgba(0, 113, 188, .85);
    color: #0071bc;
}


@media screen and (orientation:landscape) {
    /* Landscape styles */

.bg-gradient {
        height: 130%;
    }
}


@media screen and (orientation:portrait) 
and (min-device-height: 400px) {
    .bg-gradient {
        overflow: scroll;
        height: 200%;
    }
}

/* Mobile Styling */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (max-width : 499px) {

body {
    background: url(../assets/map_top.png) no-repeat center center scroll,
                url(../assets/map_bottom.png) no-repeat center center scroll;
    /*background-size: scroll;*/
    overflow-y: scroll; 
}

.bg-gradient {
    height: 100%;
}

#logo h2 {
    font-size: 18px;
}

.tag {
    width: 260px;
    margin: 6vh auto 0;
    line-height: 30px;
}

.date {
    margin: 0;
}

.content {
    text-align: center;
    padding-top: 30vh;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.content object {
    position: relative;
}

.content form {
    margin: 12vh auto 0;

    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
}

.content form input, .content form button {
    display: block;
    margin: 0;
    height: 42px;
    font-size: 16px;
    width: 100%;

}

.content form input, .content form button {
    margin-bottom: 5px;
    padding-left: 10px;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: -o-calc(100% - 10px);
    width: calc(100% - 10px);
}

}
