/* Desktop Styling */
@media (min-width:500px){
.background {
    height: 100%;
    width: 100%;    
}

.bg-waves {
    background: url(../assets/map_wave_outlines.svg) no-repeat center center fixed;
    background-size: cover;
}

.bg-land {
    background: url(../assets/land_with_details_2000.png) no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
}

#content-container {
    width: 100vw;
    height: 100vh;
}

.content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    text-align: center;
}

.tag {
    margin-top: 80px;
}

.content {
    width: 500px;
    height: 420px;
}

.content form { 
    margin-top: 65px;
}

.content form input {
    font-size: 16px;
    
    width: 350px;
    height: 35px;

   
    margin-bottom: 4px;
}

.content form button {    
    font-size: 16px;
    margin-left: 4px;
    width: 110px;
    height: 35px;

    cursor: pointer;
    cursor: hand;
}

.content form button:hover {
    background-color: rgba(0, 113, 188, 0);
    border: 2px dashed rgba(0, 113, 188, .85);
    color: #0071bc;
}



}



/* Mobile Styling */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px), 
(max-width : 499px) {

body {
    background: url(../assets/map_wave_outlines.svg) no-repeat center center fixed,
                url(../assets/land_with_details_2000.png) no-repeat center center fixed,
                url(../assets/map_gradient_bg.svg) no-repeat center center fixed;
    background-size: cover;
}


#waves-container { display: none; }

#logo h2 {
    font-size: 18px;
}

.tag {
    width: 260px;
    margin: 6vh auto 0;
    line-height: 30px;
}

.date {
    margin: 0;
}

.content {
    text-align: center;
    margin-top: 14vh;
}

.content object {
    position: relative;
}

.content form {
    margin: 12vh auto 0;

    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
}

.content form input, .content form button {
    display: block;
    margin: 0;
    height: 42px;
    font-size: 16px;
    width: 100%;
}

.content form input {
    margin-bottom: 5px;
    padding-left: 10px;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: -o-calc(100% - 10px);
    width: calc(100% - 10px);
}

#thank_you {
    display: none;
    margin-top: 55px;
    color: #353B3F;
    font-size: 20px;
    font-family: BrandonReg;
}

#thank_you h3 {
    color: #0071bc;
    height: 60px;
    font-size: 40px;
    font-family: Pacifico;
}

}
