{% extends "base/base.html" %}
{% block body %}
        <div class="background bg-gradient">
            <div class="background bg-land">
            </div>
        </div>
        <div id="waves-container">
            <ul id="scene">
                <li class="layer" data-depth="0.2"><object id="waves" type="image/svg+xml" data="assets/map_wave_outlines.svg"></object></li>
            </ul>
        </div>
		
        <div id="content-container">
            <div class="content">
                <object type="image/svg+xml" data="assets/hackillinois_logo_gotham.svg">HACK ILLINOIS</object>

                <p class="upper tag">Find your internet explorer</p>
                <p class="date">Feb 27 - Mar 1</p>

                <form method="post" id="email_form">
                    <p>Be the first to know when the expedition starts</p>
                    <input type="text" id="email" placeholder="future-explorer@arctic.edu">
                    <button id="email_submit">Submit</button>
                </form>
				<span id="error_message"></span>
            </div>
        </div>

        <script src="js/parallax.min.js"></script>
        <script src="js/www/index/email.js"></script>
        <script src="js/www/index/background.js"></script>
{% endblock %}
