{% extends "base/base.html" %}
{% block head_css %}
        <link rel="stylesheet" type="text/css" href="css/splash.css">
        <link rel="stylesheet" type="text/css" href="css/e404.css">
{%- endblock %}
{% block body %}
        <div class="container-main">
            <div class="bg-waves">
                <ul id="scene">
                    <li class="layer" id="waves" data-depth="0.2"><object type="image/svg+xml" data="assets/map_wave_outlines.svg"></object></li>
                </ul>
            </div>
    		
            <div id="content-container">
                <div class="content">
                   <div class="logo">
                        <img src="assets/hackillinois_logo_red.png">
                        <h2>Hack<br>Illinois</h2>
                    </div>
                    <span class="woah">Woah there, explorer!</span>
                    <span>It looks like you traveled off course</span>
                    <a href="/">Explore the homepage</a>
                    <a href="mailto:contact@hackillinois.org">Send an SOS</a> 
                </div>
            </div>


            <script src="js/parallax.min.js"></script>
            <script src="js/index/waves.js"></script>
        </div>
{%- endblock %}
